<h2>Greetings, {{session.username}}!</h2>
<div class="home">
  <div class="user-packages">
    <h3>My packages</h3>
    <div
      ng-if="packages.length > 0"
      ng-include="'app/modules/packages/preview.html'"
      ng-repeat="package in packages">
    </div>
    <p ng-if="packages.length == 0" class="info-notice">
      You don't have any packages yet.
      Check out the <a ui-sref="packages">available packages</a>!
    </p>
  </div>
  <div class="user-profile">
    <h3>My profile</h3>
    <p>
      <img ng-src="{{session.gravatar}}?s=200" alt="gravatar" />
    </p>
    <p>
      <i class="fa fa-email"></i>{{session.email}}
    </p>
  </div>
<div>
