form.app-form {
  div.row {
    padding: 4px;
    label {
      display: block;
      span {
        display: block;
      }
    }
    input[type=text],
    input[type=password],
    input[type=email] {
      padding: 4px;
      width: 300px;
    }
  }
  .error-notice {
    border-radius: 4px;
    padding: 1em;
    background: #cb3837;
    color: white;
    li {
      margin-left: 2em;
    }
  }
}
