// ui-loading
// -----------------------------------------------------------------------------

.loading-container {
  position: relative;
  min-height: 100px;
}
.loading-container .loading {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background: rgba(255, 255, 255, 0.1) url("images/animated-skull.gif") center 200px no-repeat;
}
