<html lang="en" ng-app="kpm-ui">
<head>
  <title ng-bind-html="pageTitle"></title>
  <!-- FontAwesome icons -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />

  <!-- Angular Material CSS -->
  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css" />

  <!-- Application CSS -->
  <link rel="stylesheet" href="style/style.min.css" />
  <link rel="icon" href="images/favico.png" />
</head>
<body ng-cloak ng-controller="AppController">
  <header id="header">
    <div class="inner">
      <nav ng-if="!session.isAuthenticated()">
        <a ui-sref="login">Login</a> |
        <a ui-sref="signup">Sign-up</a>
      </nav>
      <nav ng-if="session.isAuthenticated()">
        Connected as <a ui-sref="home">{{session.username}}</a> |
        <a href ng-click="session.logout()">Logout</a>
      </nav>

      <form ng-controller="SearchController as ctrl" ng-submit="ctrl.submit()" class="search">
        <md-autocomplete
          md-search-text="ctrl.searchText"
          md-items="item in ctrl.querySearch(ctrl.searchText)"
          md-item-text="item.name"
          md-selected-item-change="ctrl.itemSelected(item)"
          placeholder="Search packages">
          <md-item-template>
            <div md-highlight-text="ctrl.searchText" md-highlight-flags="^i" class="item-title">
              {{item.name}}
            </div>
            <div class="item-info">
              <span class="item-meta">
                Last version: <strong>{{item.version}}</strong>
              </span>
              <span class="item-meta">
                Downloads: <strong>{{item.downloads}}</strong>
              </span>
            </div>
          </md-item-template>
          <md-not-found>
            No packages matching "{{ctrl.searchText}}" were found.
          </md-not-found>
        </md-autocomplete>

      </form>
        <i class="fa fa-search"></i>
    </div>
  </header>
  <section id="banner">
    <div class="inner">
      <img src="images/kubespray-logo.png" class="logo" />
      <h1>KPM, by Kubespray</h1>
      <p class="description">Registry of kubernetes ready to use applications</p>
    </div>
  </section>
  <section id="main">
    <div class="inner">
      <ui-view></ui-view>
      <div layout="row" class="loader" ng-if="ui.loading">
        <md-progress-circular md-mode="indeterminate" md-diameter="150"></md-progress-circular>
      </div>
    </div>
  </section>
  <footer id="footer">
    <div class="inner">
      By <a href="http://kubespray.io">kubespray.io</a>
    </div>
  </footer>

  <!-- Angular.js Core libraries -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

  <!-- Angular Material -->
  <script src="//ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>

  <!-- Angular UI Router -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>

  <!-- App configuration -->
  <script src="config/config.js"></script>

  <!-- build:js js/app.min.js -->
  <script src="app/app.js"></script>
  <script src="app/services/kpm_api.js"></script>
  <script src="app/services/session.js"></script>
  <script src="app/modules/home/home_controller.js"></script>
  <script src="app/modules/user/signup_controller.js"></script>
  <script src="app/modules/user/login_controller.js"></script>
  <script src="app/modules/packages/packages_controller.js"></script>
  <script src="app/modules/search/search_controller.js"></script>
  <!-- /build -->

  <!-- build:js js/templates.js -->
  <!-- /build -->
</body>
</html>
